mixin sectionCard(section, title, desc, link)
  a.card.card--section(href= link)
    .card-block
      .card--section__body
        .card--section__img
          if section == "components"
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75 75")
              ellipse(class="shadow" cx="37.1" cy="68.9" opacity=".1" rx="30.9" ry="3.8")
              circle(cx="54.1" cy="10.9" r="10.9" fill="#8A9BA8")
              path(fill="#006837" d="M58 30.6l-17.9 2.2 10.8 14.4L68.8 45 58 30.6z")
              path(fill="#bfccd6" d="M58 30.6l-17.9 2.2 10.8 14.4L68.8 45 58 30.6z")
              path(fill="#8a9ba8" d="M40.1 32.8L33 49.2l10.8 14.5 7.1-16.5-10.8-14.4z")
              path(fill="#5c7080" d="M50.9 47.2l-7.1 16.5 17.9-2.2L68.8 45l-17.9 2.2z")
              path(fill="#137cbd" d="M17.5 9.8l-12 33.9L26 25.4 17.5 9.8z")
              path(fill="#0e5a8a" d="M30.4 44.9l20.5-18.2L26 25.4 5.5 43.7l24.9 1.2z")
              path(fill="#48aff0" d="M17.5 9.8l33.4 16.9L26 25.4 17.5 9.8z")
          if section == "design"
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75 75")
              ellipse(class="shadow" cx="38.6" cy="67.9" opacity=".1" rx="25.4" ry="3.1")
              path(fill="#106ba3" d="M51 43.5l-6.7.1-3.8 5.3 4.8.3a2.3 2.3 0 0 1-1.3-2 2.4 2.4 0 0 1 4.8 0 2.3 2.3 0 0 1-1.6 2h.3l5-3.6z")
              path(fill="#137cbd" d="M51 42.8h-6.7l-3.8 5.3 4.8.3a2.2 2.2 0 0 1-1.3-2 2.4 2.4 0 0 1 4.8 0 2.3 2.3 0 0 1-1.6 2.1h.3l5-3.7z")
              path(fill="#a66321" d="M1.3 50l.6.6S38 54 42.3 54 8.2 49.4 8.2 49.4")
              path(fill="#d9822b" d="M39.3 53.4l-.1-.1h-.3l-.2-.2h-.2l-.2-.1-.1-.1-.3-.2a5.6 5.6 0 0 1-1.1-1.2l-.4-.4-5.8-.5 1.6-3.3-1-.8-2 4-7.2-1 4-8-1-.9-4.4 8.8-7.2-.7L19.5 36h.4l-3-2.8-7.2-.7L1.3 50l39.9 4a7.7 7.7 0 0 1-2-.5zM4.9 47.8L11 35.2l7.2.7-6.1 12.6z")
              path(fill="#a66321" d="M18.2 35.9l-7.2-.7-6.1 12.6 7.2.7 6.1-12.6")
              path(fill="#bf7326" d="M20 36.1l-.4-.1-6.2 12.7 7.3.7 4.2-8.8-4.9-4.5")
              path(fill="#f29d49" d="M25.9 41.5l-3.9 8 7.2.7 2-3.9-5.3-4.8")
              path(fill="#ffb366" d="M32.1 47.1l-1.5 3.3 5.8.5-4.3-3.8")
              path(fill="#0a6640" d="M28.8 15.3h.8s15.5 15.5 18.5 17.1-17-10.7-17-10.7")
              path(fill="#0e5a8a" d="M51.8 5.9l.7.9.5 4.1-.5 4.4")
              path(fill="#0f9960" d="M55.6 44l-.9 1.8a14.6 14.6 0 0 1-8.2 7.4 11.7 11.7 0 0 1-4.9.7h.2a13.6 13.6 0 0 0 9.8-3.5 12.2 12.2 0 0 0 4-6.4M20.8 33l-4.5-4.1L28 18.6l4.5 4.1L20.8 33m8-17.7l-16.2 14 4.3 4 3 2.8 5 4.5 1 1 5.3 4.7 1 .9 4.2 3.8.4.3a5.6 5.6 0 0 1-.8-2v-.5l-.3-2.4-3.1-2.8 2.6-2.3-.2-1.4-3.3 2.9-4.6-4.2 7.1-6.2-.1-1.3-7.8 6.8-4.6-4.2 11.6-10-.5-4.7-4-3.7")
              path(fill="#0a6640" d="M28.1 18.6L16.3 28.8l4.5 4.2 11.8-10.3-4.5-4.1")
              path(fill="#0d8050" d="M33.3 23.6L21.7 33.7l4.5 4.2 7.9-6.8-.8-7.5")
              path(fill="#15b371" d="M34.2 32.4l-7.1 6.2 4.5 4.2 3.4-2.9-.8-7.5")
              path(fill="#3dcc91" d="M35.1 41.2l-2.6 2.3 3.1 2.9-.5-5.2")
              path(fill="#137cbd" d="M36.7 51.3a4.6 4.6 0 0 0 .4.4 7 7 0 0 1-.4-.5zM41 35.8l.7-1.4-4.4 1.5-.6-6.4 8.9-3.3.7-1.5-9.8 3.6-.6-6.4 14.3-5.2 2.3-4.6-.7-6.2-19.6 7.2.6 5.9.5 4.6.8 7.5.1 1.4.8 7.4.1 1.3.6 5.2.2 2.4a8.3 8.3 0 0 1 1-4.4l1-2.4-.5-4.9zm-5.3-15.1l-.6-6.5L49.4 9l.7 6.4zm10.8 32.5a2.2 2.2 0 0 1 .2-.1l-.3.1zm-6 .5l.7.2h.8-.6a10 10 0 0 1-1-.2zm13.8-7l.3-.6.1-.3-.4 1z")
              path(fill="#0e5a8a" d="M49.4 9l-14.3 5.2.6 6.5L50 15.5 49.4 9")
              path(fill="#106ba3" d="M50.2 16.7l-14.3 5.2.6 6.4 9.8-3.6 3.9-7.9v-.1")
              path(fill="#2b95d6" d="M45.6 26.2l-8.9 3.3.6 6.4 4.3-1.5 4-8.2")
              path(fill="#48aff0" d="M40.9 35.8l-3.5 1.3.5 4.9 3-6.2")
              path(fill="#a82a2a" d="M73.5 7.1l.2.5-17.9 37.2c-.2.5-2.8 8.2-11 9l.6-1.7")
              path(fill="#db3737" d="M55.7 5.4L52.5 12l-2.3 4.7-3.9 8-.7 1.5-4 8L41 36l-3 6-1.1 2.4a8.3 8.3 0 0 0-1 4.5.6.6 0 0 1 0 .1v.2a5.4 5.4 0 0 0 2 3.4l.3.1h.1l.2.2h.2l.2.2h.4a7.8 7.8 0 0 0 2.2.6c5 .5 10.8-3 13.1-7.7l.2-.3.9-1.9 18-36.7zm-7.6 40a3.9 3.9 0 0 1-3.5 2.2 1.6 1.6 0 0 1-1.3-2.6 3.9 3.9 0 0 1 3.5-2.1 1.6 1.6 0 0 1 1.3 2.6zm6.4-4.2l-13-1.3 3.4-7 13 1.3zm4-8.3l-13-1.3 3.4-7 13 1.3zm4-8.3l-13-1.3 3.4-7 13 1.3zM53.6 15L57 8l13 1.2-3.4 7z")
              path(fill="#a82a2a" d="M70 9.2L57 8l-3.4 7 13 1.3L70 9.2")
              path(fill="#c23030" d="M66 17.6l-13-1.3-3.4 7 12.9 1.3 3.5-7")
              path(fill="#f55656" d="M61.9 25.9l-13-1.3-3.4 7 13 1.3 3.4-7")
              path(fill="#ff7373" d="M57.9 34.2l-13-1.3-3.4 7 13 1.3 3.4-7")
              path(fill="#a82a2a" d="M43.8 45.6a3.9 3.9 0 0 1 3.5-2 1.9 1.9 0 0 1 1 .2 1.6 1.6 0 0 0-1.5-.9 3.9 3.9 0 0 0-3.5 2.1 1.7 1.7 0 0 0 .4 2.3 2 2 0 0 1 0-1.7z")
          if section == "resources"
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75 75")
              ellipse(class="shadow" cx="37.5" cy="68.9" opacity=".1" rx="30.9" ry="3.8")
              path(d="M6.1 37.4l-.2 1.2L37 64.8l.2-1.1L6.1 37.4z")
              path(fill="#5c7080" d="M37.2 26L6.1 37.4l31.1 26.3 31.1-11.4L37.2 26z")
              path(fill="#394b59" d="M6.9 32.9l-1 5.7L37 64.8l1-5.6L6.9 32.9z")
              path(fill="#5c7080" d="M38 21.6L6.9 32.9 38 59.2l31.1-11.4L38 21.6z")
              path(fill="#394b59" d="M68.9 49l.2-1.2L38 59.2l-.2 1.2-.6 3.3-.2 1.1 31.1-11.3.2-1.2-30.2 11.1.6-3.4 30.2-11z")
              path(fill="#ebf1f5" d="M67.7 49.4l-.5 2.7-29 10.6.5-2.7 29-10.6z")
              path(d="M19.9 37.4l-3.8 3.5 3.3 2.8 28.7 4.1 9.5-9.4-6-5.3" opacity=".1")
              path(fill="#5c7080" d="M58 26l-26.6-3.1L18.7 40l27.2 3.2 11.8-15.6.3-1.6z")
              path(fill="#738694" d="M18.7 40l.5 1.1 27.2 3.1-.5-1L18.7 40z")
              path(fill="#d8e1e8" d="M44.4 37.8l1.7 4 12-16-2-3.9-2.9 2.9-9 12.6")
              path(fill="#ebf1f5" d="M20.5 38.8L18.9 35l25.6 3 1.6 3.8-25.6-3z")
              path(fill="#5c7080" d="M57 22.5c-.5-1.2-1.4-.4-1.6 0l-2.4 3-9.3 12.6.5 1 9.3-12.6 2-2.5c.5-.7 1-.2 1.2.2l.5 1 .4.9a2 2 0 0 1-.3 1.9l-1 1.3-10.4 13.9.5 1 10.3-13.9 1-1.5a3.1 3.1 0 0 0 .5-3.6L57 22.5z")
              path(fill="#738694" d="M16.5 35l.5 1 27.2 3.2-.5-1.1L16.5 35z")
              path(fill="#bfccd6" d="M56.1 21.4a2.2 2.2 0 0 0-.8-.5 2.4 2.4 0 0 0-.6 0l-25.5-3L16.5 35l27.2 3.2 11.4-15.4c1-1.4 1.7-.7 1.9-.4a2.8 2.8 0 0 0-.9-1zm.9 1a1.3 1.3 0 0 1 0 .1z")
              path(d="M31.9 18.2h-1.1l11.6 11.4L53 25.5l1.8-2.2" opacity=".1")
              path(d="M23.3 10.1l-.1.7L43 27.6l.2-.8-19.9-16.7z")
              path(fill="#0a6640" d="M43.2 2.9l-19.9 7.2 19.9 16.7L63 19.6 43.2 2.9z")
              path(fill="#0a6640" d="M23.8 7.3l-.6 3.5L43 27.6l.7-3.6L23.8 7.3z")
              path(fill="#0f9960" d="M43.7 0L23.8 7.3 43.7 24l19.8-7.3L43.7 0z")
              path(fill="#0f9960" d="M63.4 17.5l.1-.8L43.7 24l-.2.7-.3 2.1-.2.8 19.9-7.3.1-.7-19.3 7 .4-2.1 19.3-7z")
              path(fill="#ebf1f5" d="M62.6 17.8l-.3 1.7-18.5 6.7.3-1.7 18.5-6.7z")
              path(fill="#3dcc91" d="M40.4 1l-2.2.8L58 18.5l2.2-.8L40.4 1z")
              path(fill="#3dcc91" d="M60.2 17.7v.2l-2.2.8v-.2l2.2-.8z")
              path(fill="#0a6640" d="M38.2 1.8V2L58 18.7v-.2L38.2 1.8z")
              path(fill="#3dcc91" d="M58 18.7l-.6 3.6 2.2-.8.6-3.6-2.2.8z")
              path(fill="#0a6640" d="M58 18.5h-.2l-.7 3.9.3-.1")
          if section == "templates" 
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75 75")
              defs
                linearGradient(id="a" x1="15.5" x2="59.5" y1="53.1" y2="9.1" gradientUnits="userSpaceOnUse")
                  stop offset="0"(stop-color="#fff" stop-opacity="0")
                  stop offset="1"(stop-color="#fff" stop-opacity=".3")
              ellipse(class="shadow" cx="37.1" cy="70.5" opacity=".1" rx="25.4" ry="3.1")
              circle(cx="37.5" cy="31.1" r="31.1" fill="#d9822b")
              rect(width="30" height="39.7" x="19" y="9.9" fill="#fff" opacity=".8" rx=".6" ry=".6" transform="rotate(-2 34 29.7)")
              path(fill="#8a9ba8" d="M20.9 17.6l13.8-.6v.5l-13.8.6zm14.3-.4l6-.2.1.5-6 .2zm6.7-.2l4.5-.2v.5l-4.5.2zm-21.1 2.3l13.8-.4v.5l-13.8.4zm14.5-.3l6-.3.1.5-6 .2zm6.6-.3l4.5-.2v.5l-4.5.2zm-21 2.4l13.8-.4v.5l-13.8.4zm14.4-.5l6-.2.1.5-6 .2zm6.7-.2l4.5-.2v.5L42 21zm-21.1 2.4l13.8-.4v.5l-13.8.4zm14.5-.5l6-.2.1.5-6 .2zM42 22h4.5v.4l-4.5.2zm-21 2.5l13.8-.4v.5L21 25zm14.4-.5l6-.2.1.5-6 .2zm6.6-.2l4.6-.2v.5l-4.5.2zm-20.9 2.4l13.8-.4v.5l-13.8.4zm14.4-.5l6-.2.1.5-6 .2zm6.7-.2l4.5-.2v.5l-4.5.2zM21.1 28l13.8-.5v.5l-13.8.4zm14.5-.6l6-.2.1.5-6 .2zm6.6-.2l4.5-.2v.5l-4.5.2zm-20.9 2.4l13.8-.6v.5l-13.7.6zm14.3-.4l6-.2.1.5-6 .2zm6.7-.2l4.5-.2v.5l-4.5.2zm-21 2.3l13.8-.4v.5l-13.8.4zm14.4-.3l6-.3.1.5-6 .2zm6.8-.5l4.5-.2v.5l-4.5.2zm-21 2.5l13.8-.5v.5l-13.8.6zm14.2-.4l6.1-.2v.5l-6 .2zm6.7-.2l4.5-.2v.5l-4.5.2zm-21 2.4l13.8-.4v.5l-13.8.4zm14.4-.5l6.1-.2v.5l-6 .2zm6.7-.3H47v.4l-4.5.2zm-21.1 2.5l13.8-.4v.5l-13.8.4zm14.5-.5l6.1-.2v.5l-6 .2zm6.8-.4l4.5-.2v.5l-4.5.2zm-21.2 2.6l13.8-.4v.5l-13.8.4zm14.4-.5l6.1-.2v.5l-6 .2zm6.7-.2l4.5-.2v.5l-4.5.2zm-21 2.5l13.8-.5v.5l-13.8.4zm14.4-.6l6-.2.1.5-6 .2zm6.8-.4l4.5-.2v.5l-4.5.2zm-21.2 2.6l13.8-.4v.4l-13.8.5zm14.4-.5l6-.2.1.5-6 .2zm6.7-.2l4.5-.2v.5l-4.5.2z" opacity=".5")
              path(fill="#5c7080" d="M39.5 43l8-.2v1.6l-8 .2z")
              rect(width="39.7" height="30" x="20.6" y="18.2" fill="#fff" rx=".6" ry=".6" transform="rotate(-73.9 40.4 33.2)")
              path(fill="#8a9ba8" d="M31.4 18l.1-.4 13.3 3.8-.2.5zm13.8 4.1l.2-.4 5.8 1.6-.1.5zm6.5 1.9l.2-.5 4.3 1.2-.1.5zM31 19.8v-.5L44.4 23v.5zm13.8 3.9l.2-.5 5.8 1.7-.1.5zm6.4 1.9l.2-.5 4.3 1.3-.2.5zm-20.7-4.3v-.5L44 24.7l-.2.4zm13.8 4.1l.1-.5 6 1.7-.2.5zm6.5 1.8l.1-.5 4.4 1.3-.2.5zM30.1 23l.1-.4 13.3 3.9-.1.4zm13.8 4l.1-.4 5.9 1.7-.2.5zm6.4 1.9l.1-.5 4.3 1.2v.5zm-20.7-4.1l.1-.5L43 28l-.2.5zm13.8 3.9v-.5l6 1.7-.2.5zm6.4 1.8V30l4.4 1.3-.1.5zM29 26.3l.2-.4 13.3 3.8-.2.5zm14 4v-.5l6 1.7-.2.5zm6.3 1.9l.2-.5 4.3 1.3-.2.5zM28.5 28l.2-.5 13.2 3.9-.1.4zm13.9 4l.2-.5 5.8 1.7-.1.5zm6.6 2v-.6l4.4 1.3-.1.5zm-20.9-4.4l.2-.5L41.5 33l-.1.5zM42 33.7l.1-.5 5.9 1.7-.2.4zm6.4 1.8l.1-.5 4.4 1.2-.2.5zm-20.7-4.1l.1-.5 13.3 3.8-.2.5zm13.8 3.8l.1-.5 5.9 1.7-.1.5zm6.4 1.9l.1-.5 4.3 1.3-.1.5zM27.2 33l.1-.5 13.3 3.8-.2.5zM41 36.9l.2-.5 5.9 1.7-.2.5zm6.4 1.9l.2-.5 4.3 1.3-.1.4zm-20.8-4.2l.2-.5L40 38v.5zm13.9 4l.2-.5 5.8 1.7-.1.5zm6.5 1.8v-.5l4.4 1.2-.1.5zm-20.7-4.1l.1-.5 13.3 3.9-.1.5zm13.8 3.9l.1-.4 5.9 1.7-.1.4zm6.4 1.8l.1-.4 4.4 1.2-.2.5zm-20.8-4.2l.2-.4L39 41.2l-.1.5zm13.9 4l.1-.5 5.9 1.7-.1.5zm6.4 1.9l.1-.5 4.3 1.3-.1.5zm-20.7-4.2l.1-.5 13.3 4-.2.5zm13.9 4l.1-.5 5.9 1.7-.2.5zm6.3 1.9l.2-.5 4.3 1.3-.1.4zm-20.7-4.2v-.5l13.3 3.8v.5zm13.8 3.9l.2-.4 5.8 1.7-.1.4zm6.5 2.1l.2-.5 4.3 1.3-.2.5z" opacity=".5")
              path(fill="#5c7080" d="M41 49l.4-1.5 7.7 2.2-.4 1.5z")
              circle(cx="37.5" cy="31.1" r="31.1" fill="url(#a)")
        .card--section__content
          .card--section__title= title
          .card--section__desc= desc