mixin swatch(color)
  .swatch(onclick="copyVariable('#" + color + "')")
    .swatch__color(class= "bg--" + color)
      button.swatch__btn(type="button") Copy Variable
    .swatch__label(id= color)= "$" + color