aside.sidebar.show
 ul.sidebar__menu
  li.sidebar__item(data-toggle="tooltip" data-placement="top" title="Dashboard")
   .sidebar__title
    svg.sidebar__icon
     use(xlink:href="#flag")
    .sidebar__label Getting Started
  li.sidebar__item(data-toggle="tooltip" data-placement="top" title="Dashboard")
   .sidebar__title
    svg.sidebar__icon
     use(xlink:href="#paint")
    .sidebar__label Design
  li.sidebar__item(data-toggle="tooltip" data-placement="top" title="Dashboard")
   .sidebar__title
    svg.sidebar__icon
     use(xlink:href="#stack")
    .sidebar__label Components
  li.sidebar__item(data-toggle="tooltip" data-placement="top" title="Dashboard")
   .sidebar__title
    svg.sidebar__icon
     use(xlink:href="#folder")
    .sidebar__label Resources
  li.sidebar__item(data-toggle="tooltip" data-placement="top" title="Dashboard")
   .sidebar__title
    svg.sidebar__icon
     use(xlink:href="#docs")
    .sidebar__label Templates