.jumbotron {
  @media (min-width: 576px) {
    padding: 2rem 0rem;
  }
  &--title {
    background: transparent;
    border-radius: 0;
    border-bottom: 1px solid $elem-blue3;
  }
  &__icon {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    margin-right: .5rem;
  }
  &__title {
    margin-top: 1rem;
  }
  &__subtitle {
    font-size: 1rem;
    margin-bottom: 0;
  }
}