.documentation {
 .main-content {
  min-height: 100vh;
  margin-top: 0;
 }
  .content {
    background: white;
    box-shadow: 0px 5px 12px rgba(black, .12);
    margin: 1rem;
    padding: 1.5rem;
  }
  .sidebar {
    &.show {
      width: 300px;
      position:relative;
    }
    &__subitem.active {
     color: #137cbd;
      border-color: #137cbd;
      transition: 150ms ease;
    }
    &--fixed {
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
    }
  }
  .logo-container {
    padding: 15px;
    #logo {
    display: block;
    width: 150px;
    }
  }
}
// Replace with local files
@import url('https://raw.githubusercontent.com/rsms/inter/master/docs/inter-ui.css');

html, body {
  font-family: 'Inter UI';
}

.example-component {
  margin: 1.5rem 0;
}

.btn {
  font-family: inherit;
}