.swatch {
  width: 100%;
  margin-bottom: 1.5rem;
  &__color {
    border-radius: 3px;
    box-shadow: 0px 3px 6px rgba(black, .1);
    height: 50px;
    margin-bottom: .5rem;
  }
  &__label {
    font-family: monospace;
    font-size: 1rem;
  }
}