.swatch {
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: $border-radius;
  box-shadow: 0px 3px 6px rgba(black, .1);
  border: 1px solid $base-lightgray3;
  cursor: pointer;
  &:hover, &:focus {
      .swatch__btn {
        opacity: 1;
        box-shadow: 0px 3px 6px rgba(black, .12);
        transition: 250ms ease;
      }
    }
  &__color {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    height: 50px;
    margin-bottom: .5rem;
    position: relative;
    cursor: pointer;
  }
  &__btn {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    font-family: inherit;
    background: transparentize($base-black,.5);
    color: white;
    border: 1px solid white;
  }
  &__label {
    font-family: monospace;
    font-size: 1rem;
    padding: 0 .5rem .5rem;
  }
}