extends ../../layouts/_main

block vars
 - var spacer = " | ";
 - var section = "Resources";
 - var page = "Logos";
block head_end

block content
 include ../../partials/_icons
 .main-content
  include ../../partials/_sidebar2
  include ../../mixins/_jumbotron
  include ../../mixins/_sectionCard
  .content
    +jumbotron('Logos', 'Consistent design patterns to rapidly prototype interface features for ERS', 'Resources')
    .row
      .col-md-12
        .intro
          h3 What dependencies do ERS design patterns rely on?
          p ERS design patterns utilize different third-party libraries within the interface. Click any of the items below to visit the respective dependency's documentation.
    .card-area.container
      .row
        .col-2
          a.card(href="#").text-center
            img.card-icon.card-img-top.mx-auto.my-3(src="../assets/ers-icon-bootstrap.svg")
            .card-block Bootstrap 4
        .col-2
          a.card(href="#").text-center
            img.card-icon.card-img-top.mx-auto.my-3(src="../assets/ers-icon-datatables.svg")
            .card-block DataTables
        .col-2
          a.card(href="#").text-center
            img.card-icon.card-img-top.mx-auto.my-3(src="../assets/ers-icon-izimodal.svg")
            .card-block iziModal
        .col-2
          a.card(href="#").text-center
            img.card-icon.card-img-top.mx-auto.my-3(src="../assets/ers-icon-izitoast.svg")
            .card-block iziToast
        .col-2
          a.card(href="#").text-center
            img.card-icon.card-img-top.mx-auto.my-3(src="../assets/ers-icon-sweetalert.svg")
            .card-block SweetAlert2
        .col-2
          a.card(href="#").text-center
            img.card-icon.card-img-top.mx-auto.my-3(src="../assets/ers-icon-select2.svg")
            .card-block Select2
        .col-2
          a.card(href="#").text-center
            img.card-icon.card-img-top.mx-auto.my-3(src="../assets/ers-icon-jquery.svg")
            .card-block jQuery
        .col-2
          a.card(href="#").text-center
            img.card-icon.card-img-top.mx-auto.my-3(src="../assets/ers-icon-fontawesome.svg")
            .card-block FontAwesome
        .col-2
          a.card(href="#").text-center
            img.card-icon.card-img-top.mx-auto.my-3(src="../assets/ers-icon-chartjs.svg")
            .card-block ChartJS