doctype html
html
  head
    block vars
    title= page + spacer + "ERS Design Patterns"  
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    link(rel="stylesheet" href="./css/system/styles.min.css")
    block head_end
	
  body
    block content
		
    block body_end